html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.function {
    font-family: "Lucida Console", "Courier New", monospace;
}

 .draggable-item {
    cursor: move;
}
.droppable-area {
    min-height: 100px;
    border: 2px dashed #007bff;
    margin-top: 20px;
    padding: 10px;
}