<form id="my_form">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Start Time</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>--------</option>
            {% for d in data %}
            <option>{{ d.field_name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
document.getElementById("my_form").addEventListener("click", function(event){
  event.preventDefault()
});
</script>