<form id="my_form">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Start Time</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>--------</option>
            {% for d in data %}
            <option>{{ d.field_name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
// Access localStorage as soon as the page loads
// let predefinedFunction = localStorage.getItem('predefinedFunction');
// console.log(predefinedFunction);

document.getElementById("my_form").addEventListener("submit", function(event){
    event.preventDefault()
    $('#exampleModal').modal('hide');
});
</script>