<form id="my_form">
    <div class="form-group">
        <label for="exampleFormControlSelect1">End Time</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>--------</option>
            {% for d in data %}
            <option>{{ d.field_name }}</option>
            {% endfor %}
        </select>
        <label for="exampleFormControlSelect2">Deadline</label>
        <select class="form-control" id="exampleFormControlSelect2">
            <option>--------</option>
            {% for d in data %}
            <option>{{ d.field_name }}</option>
            {% endfor %}
        </select>
        <label for="exampleFormControlSelect3">Result</label>
        <select class="form-control" id="exampleFormControlSelect3">
            <option>--------</option>
            {% for d in data %}
            <option>{{ d.field_name }}</option>
            {% endfor %}
        </select>
         <label for="exampleFormControlSelect4">Type of Function</label>
        <select class="form-control" id="exampleFormControlSelect4">
            <option>--------</option>
            <option>SingleAssignment</option>
            <option>RealTimeUpdater</option>
        </select>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
// Access localStorage as soon as the page loads
// let predefinedFunction = localStorage.getItem('predefinedFunction');
// console.log(predefinedFunction);

document.getElementById("my_form").addEventListener("submit", function(event){
    event.preventDefault()
    $('#exampleModal').modal('hide');
    let formData = {
        "resolver": {
        "end_time": "end",
        "deadline": "deadline",
        },
        "actionType": document.getElementById("exampleFormControlSelect4").value,
        "node": "Task",
        "anyValue": document.getElementById("exampleFormControlSelect3").value
    };

    let formDataJson = JSON.stringify(formData, null, 2);
    // Display form data as JSON
    alert(`The following Modicio Script will be created: \nScript(\n${formDataJson}\n)`);

});
</script>